1. You must have installed iron-icon and iron-iconset-svg:
bower install --save PolymerElements/iron-icon PolymerElements/iron-iconset-svg

2. Place the generated fonticon-polymer folder next to your bower_components folder.

3. Include the icon set in your html:
<link rel="import" href="fonticon-polymer/fonticon-iconset-svg.html">

4. Start inserting icons:
<iron-icon icon="fonticon:{{glyphName}}"></iron-icon>

Learn more here: https://elements.polymer-project.org/elements/iron-icon

